{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
      <div class="navigation-bar">
              <div>
                 <a href="/" class="active">Home</a>
              </div>
              <div>
               <a href="/users/create">Register</a>
            </div>

      </div>
             <div class="navigation-bar-right">
                 
     
             </div>
    </div>

 <div class= "content-with-background-color">
    <p> Welcome to Nigeria NIN Online Registration</p>
 </div>


{% endblock%}